
<!DOCTYPE html>
<html>
<head>
<base target="_top">
</head>
<body>
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
<div style="margin:50px auto;width:80%;padding:20px 0">
<div style="border-bottom:5px solid #eee">
  <a href="" style="font-size:30px;color: #f7c800;text-decoration:none;font-weight:600"><img src="https://test.dineouthalal.com/assets/images/dashboard/Group%202.png" alt="" srcset=""></a>
</div>
<p style="font-size:15px">Hello</p>
<p>Thank you for choosing Dineouthalal. Use this OTP to complete your Change Email procedures and verify your email on dineouthalal.</p>
<p>Remember, Never share this OTP with anyone.</p>
<h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;"><%=options.otpcode %></h2>
<p style="font-size:15px;">Regards,<br />Team dineouthalal</p>
<hr style="border:none;border-top:5px solid #eee" />
<div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
  <p>dineouthalal</p>

 </div>
</div>
</div>
</body>
</html>
<h1> Your otp code is </h1>